<h2>
    Reservation List
</h2>
<ul *ngIf="reservations.length; else noReservation">
    <li *ngFor="let reservation of reservations">
        <p>Guest: {{reservation.guestName}}</p>
        <p>Check-in date: {{reservation.checkInDate | date}}</p>
        <p>Check-out date: {{reservation.checkOutDate | date}}</p>
        <p>Room number: {{reservation.roomNumber}}</p>
        <button (click)="deleteReservation(reservation.id)" > Delete</button>
    </li>
</ul>

<ng-template #noReservation >
    <p>No reservation available.</p>
</ng-template>